<% content_for :year_holder do %>
  <%= link_to image_tag('/images/prev.gif'), planner_path( params[:localization], @year - 1 ), :class => "x-year-change x-year-change-minus" %>
  <span class="x-year"><%=h @year %></span>
  <%= link_to image_tag('/images/next.gif'), planner_path( params[:localization], @year + 1 ), :class => "x-year-change x-year-change-plus" %>
<% end %>

<ul class="tabs">
  <li><a href="#tab1">Planner</a></li>
  <li><a href="#tab2"><%= t('portal.tabs.list').capitalize %></a></li>
  <% if LEAVE_REQUEST_PDF_LOCALIZATIONS.include?( @localization.to_sym ) %>
    <li><a href="#tab3" class="new"><%= t('portal.tabs.leave_request').capitalize %>!</a></li>
  <% end %>
</ul>

<div class="calendar-section section-swap-container">
  <%= render :partial => "calendar", :locals => { :year => @year, :localization => @localization, :public_holidays => @public_holidays } %>
</div>