<div id="account-info">

  <div class="internationalization-info">
    <span id="localizations" class="int-menu-link">
      <%= link_to t('portal.location')+": "+t('portal.localizations.full.'+session[:localization]), "#localizations-choose", :class => "link-underline", :rel => "leanModal" %>
    </span> | 
    <span id="locales" class="int-menu-link">
      <%= link_to image_tag('/images/country_flags/pl.png', :title => "pl"), "#{request.url.split('?').first}?locale=pl" %>
      <%= link_to image_tag('/images/country_flags/en.png', :title => "en"), "#{request.url.split('?').first}?locale=en" %>
    </span> 
  </div>

  <div id="localizations-choose" class="leanModal-container" >
    <a href="#" class="modal_close"></a>
    <form class="localization_change form-horizontal" action="/planner/<%= @year %>">
      <fieldset>
        <div class="control-group">
          <label class="control-label"><%= t('portal.location').capitalize %>:</label>
          <div class="controls">
            <% PublicHoliday.locations.each do |location| %>
              <label class="radio" for="localization_<%= location[1] %>">
                <%= radio_button_tag "localization", location[1], @localization == location[1] %>
                <%= location[0] %>
              </label>
            <% end %>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Select</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
    
