<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?( :title ) ? yield( :title ) : "HolidayPlannerApp.com" %>
  </title>
  <%= stylesheet_link_tag 'reset', 'bootstrap.css', 'application', 'jquery.bubblepopup.v2.3.1', %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'jquery', 'jquery.leanModal.min', 'jquery.json-2.3.min', 'jshashtable-2.1', 'jquery-ui', 'jstorage.min.js', 'jquery.bubblepopup.v2.3.1.min.js', 'application', 'app/app.day', 'app/app.leave_period' %>  
  <%= csrf_meta_tag %>
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="wakacje, holidays, święta, wielkanoc, boże narodzenie, długi, weekend, planner, plan, vacation, urlop, wolne, wakacje, planowanie, planuj, dni, ustawowo, praca, polska, pl, wolne w roku, bank holidays, public holidays, leave, spring break, christmas, easter, italy, england, ireland, wales, great britain" />
  <meta name="title" content="Holiday Planner" />
  <meta name="description" content="Public holidays, Poland, England, Wales, Ireland, see the oportunity, plan holidays" />

  <%= yield :head %>

  <!-- GA -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20273312-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- GA -->

</head>
<body>

<div class="wrp">
  
  <section class="top-wrapper">
    <header id="top">
      <hgroup>
        <h1><%= link_to 'HolidayPlanner', planner_path %></h1>
        <h2 id="year-holder"><%= yield :year_holder %></h2>
      </hgroup>
      
      <section class="top-menu">
        <% cache "#{I18n.locale}/top_menu", :expires_in => 6.hours do %>
          <%= render :partial => "shared/top_menu" %>
        <% end %>
      </section>
      
      <%= render :partial => "shared/user_bar" %>
    
    </header>
  </section>

  <%= flash_notice %> 
  <%=raw flash_error %> 


  <section class="content">
    <section class="adtaily">
      <script type="text/javascript" id="AdTaily_Widget" src="http://static.adtaily.pl/widget.js#Rm8kRT1PdpzcnBH"></script>
      <noscript><a href="http://www.adtaily.pl">Reklama w internecie</a></noscript>
    </section>
    
    <%= yield %>
  
    <div class="tp_adsense">
      <script type="text/javascript">
        <!--
        google_ad_client = "ca-pub-8246502758908109";
        /* HP - top links */
        google_ad_slot = "5599868826";
        google_ad_width = 728;
        google_ad_height = 15;
        //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
  </section>
  
    
  <footer>
    &copy; Copyright 2010 - 2011 <a href="http://sooftly.com">Sooftly</a>. All rights reserved.
    <a href="http://sooftly.com" target="blank" class="sooftly-link">Sooftly</a>
  </footer>

  </div>
    <div id="wysuwany_div">
      <div id="ramka_facebooka">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_floating_style addthis_counter_style" addthis:url="holidayplannerapp.com">
          <a class="addthis_button_facebook_like" fb:like:layout="box_count" fb:like:href="holidayplannerapp.com"></a>
          <a class="addthis_button_tweet" tw:count="vertical"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
          <a class="addthis_counter"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fdc66b3006aa3e1"></script>
        <!-- AddThis Button END -->
      </div>
    </div>

    
</body>
</html>
